[flake8]
max-line-length = 130
max-complexity = 16
count = True
statistics = True
show-source = True

# Exclude directories (optional)
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info
